.up {
  width: 100%;
  display: flex;
  justify-content: flex-end;


}

.TextBox {
  width: 478px;
  display: flex;
  font-size: 15px;
  color: rgb(255, 255, 255);
  justify-content: space-around;
  margin-right: 150px;
  margin-top: 16px;
}

img {

  display: flex;
  margin-top: 7.8px;
  width: 2.4%;
  margin-left: 162px;
}

.sum {
  display: flex;
  margin-top: 5px;
}

.D {
  display: flex;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: 12px;
  margin-left: 20px;

}

.menue {
  display: flex;
  color: rgb(255, 255, 255);
  margin-top: 70px;
  margin-left: 140px;
}

.day {
  display: flex;
  color: #B1E9E9;
  font-size: 23px;
  margin-left: 140px;
  margin-top: 30px;
}

.food {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-left: 140px;
  margin-top: 60px;
  width: 830px;
  justify-content: space-between;
}



.foodBox {
  display: flex;
  flex-direction: column;
 justify-content: space-evenly;
  align-items: center;

  width: 220px;
  height: 280px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #0C9799;
  border-radius: 11px;
}
.bigimg
{
  display: flex;
  width: 430px;
 margin-left: 1px;
  
  
  
}
.all{
  display: flex;
  
}


body {
  margin: 0px;
  background-color: #19B6B6;
  font-size: 30px;
}