body {
    background-color: #e2f0f9;
}

.head-line {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 430px;
}

.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    border-top: 3px solid #8aaaee;
    border-bottom: 4px solid #8aaaee;
    flex-wrap: wrap;
}

.menus button {
    border: none;
    background: none;
    margin: 5px;
    color: #47587d;
}

.menus button:hover {
    background-color: #e2efff;
}

.news-img-size {
    max-width: 100%;
    max-height: 250px;
}

.news {
    border-bottom: 3px solid #8aaaee;
}

.title {
    font-weight: bold;
    font-style: oblique;
}

#search-input {
    border: #47587d;
    border-radius: 2px;
}

#search-button {
    border-radius: 2px;
    border: #47587d
}

.head-line {
    display: flex;
}

.search-box {
    display: flex;
    height: 30px;
    margin-left: 1000px;
    margin-top: 20px;
}